body{
    margin: 10px auto;
    width: 70%;
    height: auto;
}
.image{
    border: 1px solid darkgrey;
    width: auto;
    height: auto;
    float: left;
    text-align: center;
    margin: 5px;
}
img{
    margin: 5px;
}
.text{
    font-size: 12px;
    margin-bottom: 5px;
}
a:hover{
    background-color: lightgrey;
}