ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    background-color: gray;
    text-align: center;
    width: 250px;
}
a:link,a:visited{
    text-decoration: none;
    /* display: block; 垂直导航栏*/ 
    background-color: grey;
    color: lightgray;
    width: 50px;
    text-align: center;
    font-weight: bold;
}
a:active,a:hover{
    background-color: lightgreen;
}
li{
    display: inline;
    padding: 3px;
    padding-left: 5px;
    padding-right: 5px;
}