body{
    margin: 0px;
}
div#container{
    width: 100%;
    height: 950px;
    background-color: darkgray;
}
div#heading{
    width: 100%;
    height: 10%;
    background-color: darkmagenta;
}
div#content_menu{
    width: 20%;
    height: 80%;
    background-color: darkgreen;
    float: left;
}
div#content_body{
    width: 80%;
    height: 80%;
    background-color: blue;
    float: left;
}
div#footing{
    width: 100%;
    height: 10%;
    background-color: #FC2A2A;
    clear: both;
}